.SelectableDeck input {
  visibility: hidden;
}
.SelectableDeck label {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  margin: 0;
}
.SelectableDeck input:checked + label {
  background: rgba(0, 0, 255, 0.2);
}
