.SelectableDeck input {
  visibility: hidden;
  display: none;
}
.SelectableDeck label {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  margin: 0;
}
.SelectableDeck input:checked + label {
  background: rgba(49, 245, 0, 0.692);
}

.SelectRule input {
  visibility: hidden;
  display: none;
}
.SelectRule label {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  margin: 0;
}
.SelectRule input:checked + label {
  background: rgba(49, 245, 0, 0.692);
}
